<ion-view title="Gallery">
  <ion-content  >
      <div class="card">
          <div class="item-list">
          <a ng-repeat="picture in gallery"
             href="#/tab/photo/{{picture.date}}"
             class="item item-thumbnail-left">
              <img ng-src="{{ picture.pic }}">
            <h2>{{picture.date | date: 'MM/dd/yyyy hh:mm'}}</h2>
        </a>
      </div>
          </div>
          <div class="item">
              <div class="button-bar">
                  <button class="button button-clear button-positive" ng-click="deleteGallery()">Purge</button>
              </div>
          </div>
      </div>

  </ion-content>

</ion-view>
