<ion-view title="About mGallery">
  <ion-content class="has-header padding">
    <h3>About</h3>
    <p>
        HTML5 Camera app by Patrick Haggood
        <p>A demonstration app built for Teaching and Learning's HTML5 lunch and learn March 2014</p>
    </p>
    <h3>Frameworks Used</h3>
    <ul>
        <li><a href="http://angularjs.org/">Angular</a></li>
        <li><a href="https://github.com/jonashartmann/webcam-directive">WebCam</a></li>
        <li><a href="http://gregpike.net/demos/angular-local-storage/demo/demo.html">LocalStorage</a></li>
        <li><a href="http://ionicframework.com/getting-started/">Ionic Framework</a></li>
        <li><a href="http://angular-ui.github.io/ui-router/sample/#/">UI Router</a></li>
    </ul>
  </ion-content>
</ion-view>
